.container {
  width: 400px;
}

.containerTitle {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  height: 30px;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containerEpisodes {
  width: 380px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin: 10px 0 20px 0;
  padding: 15px 10px 10px 10px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  margin-left: 7px;
}

th {
  font-size: 10px;
  text-align: left;
}

th:last-child {
  text-align: center;
}

td {
  font-size: 8px;
  text-align: left;
  height: 25px;
}

.shaded {
  background-color: #f7f4f479;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

th:first-child {
  width: 70%;
  padding: 0 0 0 8px;
}

td:first-child {
  padding-left: 7px;
  width: 80%;
}

td:last-child {
  text-align: center;
  width: 20%;
}

table {
  border-collapse: collapse;
}
